body {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.text {
	margin: auto;
	width: 75%
}

.text_heading, .text_subheading{
	text-align: center;
}

.contact_us {
	padding: 0px 5px 5px 30px;
	border: 
}

.contact__info__details, .contact__info__title {
		font-size: 20px;
	}

.contact__info__title{
	line-height: 0;
	margin-bottom: 0;
}

.contact_us, .contact__form {
	flex: 50%;
}

.contact {
	display: flex;
	padding-top: 5%;
	border: 2px solid black;
	border-radius: 5%;
	margin: 0 5px
}

.contact__form {
	display: flex;
	justify-content: space-between;
}

